.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    /* height: 65dvh; */
    min-height: 80vh;
    max-height: 100%;
    margin-top: 5%;
  
    .intro {
      max-width: 300px;
      border-radius: 50%;
    }

    h1 {
        font-family: 'Rubik', sans-serif;
        font-size: 50px;
      }
    h2 {
        font-family: "Alex Brush", cursive;
        text-align: left;
        font-size: 35px;
        text-transform: none;
      }
  
    span {
      display: flex;
      gap: 10px;
      justify-content: center;
  
      a {
        margin: 0;
  
        img {
          width: 30px;
        }
      }
    }
  
    a {
      width: fit-content;
      align-self: center;
    }
  
    button {
      background-color: var(--btn-color);
      color: var(--btn-text-color);
      border: none;
      border-radius: 25px;
      width: 126px;
      height: 50px;
      font-size: 20px;
      font-weight: bold;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
      transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
    }
  
    button:hover {
      transform: scale(1.05);
    }
  
    button:active {
      transform: translateY(2px);
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    }
  }

  .navbar {
    position:fixed; /* Changed from static */
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    /* align-items: right; */
    padding: 1rem 2rem;
    z-index: 1000;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: var(--background-color);
    color: var(--text-color);
    justify-content: space-evenly;
}

.navbar_menu {
  display: flex;
}

.navbar_menu_items {
  display: flex;
  list-style-type: none;
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.navbar_menu_items li {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}

.navbar_menu_items a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
  transition: color 0.2s ease;
  padding: 10px;
}

.navbar_menu_items a:hover {
  color: #b13def;
}

.menu_toggle {
  display: none;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

  
  .colorModeContainer {
    position: relative;
  }
  
  .colorMode {
    position: absolute;
    /* right: 0; */
    width: 25px;
  }
  
  .colorMode:hover {
    cursor: pointer;
  }
  
  .description {
    max-width: 50ch;
    align-self: center;
    font-size: 14px;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  @media (max-width: 795px) {
    .intro {
      padding-top: 100px
    }

    .hello {
      padding-left: 10%;
    }

    .navbar{
      justify-content: right;
    }
    .navbar_menu {
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        background-color: var(--background-color);
        flex-direction: column;
        justify-content: center;
        transition: right 0.3s ease;
    }

    .colorMode{
      margin-top: 100px;
    }

    .navbar_menu.active {
        right: 0;
    }

    .navbar_menu_items {
        flex-direction: column;
        align-items: center;
    }

    .navbar_menu_items li {
        margin: 1rem 0;
    }

    .menu_toggle {
        display: flex;
    }
}
  @media (width >= 800px) {
    .container {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-evenly;
  
      .intro {
        max-width: 350px;
        width: 350px;
      }
    }
  }
  
  @media (width >= 1400px) {
    .container {
      .hero {
        max-width: 400px;
        width: 400px;
      }
    }
  }
