
.container {
    padding: 2rem;
    max-width: 80%;
    margin: 0 auto;
    width: 70%;
    justify-content: center;
    min-height: 500px;
    max-height: 100%;
  }
  
  .sectionTitle {
    margin-bottom: 40px;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    color: var(--text-color);
    padding-bottom:15px;
  }
  
  .h3 {
    font-size: 18px;
  }
  .educationList {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  
  .educationEntry {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .educationEntry.light {
    color: #333;
  }
  
  .educationEntry.dark {
    color: #f8f9fa;
  }
  
  .universityLogo {
    width: 180px;
    height: 180px;
    max-width: 250px;
    object-fit: contain;
    align-self: center;
    padding: 12px;
    margin-right: 20px;
    border-radius: 30px;
  }
  
  .content {
    flex-grow: 1;
  }
  
  .degreeBox {
    margin-bottom: 0.1rem;
  }
  
  .degree.light {
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #d7d5ff;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.2rem;
  }

  .degree.dark{
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #324ec9;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    margin-bottom: 0.2rem;
  }
  
  .university {
    font-size: 18px;
    font-weight: normal;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .coursesTitle {
    font-style: italic;
    margin-bottom: 0.25rem;
  }
  
  .coursesList {
    list-style-type: none;
    padding-left: 0;
  }
  
  .coursesList li {
    margin-bottom: 0.25rem;
    margin-left: 1.25rem;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
  }
  
  .coursesList li::before {
    content: "•";
    color: #d6dae0;
    display: inline-block;
    width: 1.5em;
    margin-left: -1em;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 120px;
  }
  
  .date, .gpa {
    font-weight: bold;
    font-size: 18px;
    font-family: 'Roboto Mono', monospace;
    padding-left: 10px;
  }

  .date {
    width: 141px;
  }
  
  @media (max-width: 768px) {
    .educationEntry {
      flex-direction: column;
    }
  
    .universityLogo {
      align-self: center;
    }
  
    .info {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }